@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.my-container{
  @apply container mx-auto;
  /* width: 1200px;
  margin: auto; */
}